<!-- addlocation.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Location</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Link to external stylesheet -->
  </head>
  <body>
    <nav class="navbar">
      <h1>My Locations</h1>
      <div class="links">
        <a href="/">Home</a
        ><a class="new-item-link" href="/addlocation">New Location</a>
      </div>
    </nav>

    <div class="content">
      <div class="create">
        <h2>Add a New Location</h2>
        <form action="/addLocation" method="POST">
          <label>Name:</label
          ><input type="text" value="" id="name" name="name" required />

          <label for="address">Address:</label>
          <textarea
            value=""
            id="address"
            name="address"
            rows="4"
            required
          ></textarea
          ><br />

          <label for="longitude">Longitude:</label>
          <input type="number" id="longitude" name="longitude" required /><br />

          <!-- <label>Author:</label>
          <select>
            <option value="sami">Sami</option>
            <option value="rami">Rami</option></select
          ><br /> -->

          <label for="latitude">Latitude:</label>
          <input type="number" id="latitude" name="latitude" /><br />

          <button type="submit">Add Location</button>
        </form>
      </div>
    </div>
  </body>
</html>