<!-- Define a function to render each location -->
<% function renderLocation(location) { %>
  <div class="item-preview">
    <a href="/single-location/<%= location._id %>">
      <h2>Name: <%= location.name %></h2>
      <p>Details</p>
    </a>
  </div>
<% } %>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locations</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Link to external stylesheet -->
  </head>
  <body>
    <nav class="navbar">
      <h1>My Locations</h1>
      <div class="links">
        <a href="/">Home</a
        ><a class="new-item-link" href="/addlocation">New Location</a>
      </div>
    </nav>

    <div class="content">
      <div class="home">
        <div class="item-list">
          <% if (locations.length > 0) { %>
          <!-- Call the renderLocation function for each location -->
          <% locations.forEach(renderLocation); %> <% } else { %>
          <p>No locations found.</p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>